@media screen and (max-width: 1600px){
    .video-section-3{
        height: 410px!important;
        width: 700px!important;
        margin-top: 10px;
        padding: 50px;
    }
}

@media screen and (max-width: 1440px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 740px;
        background-image: url('/img/banner-guarda.jpeg');
        position:relative;
        background-attachment:scroll;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: rgb(1, 3, 20);
    }
    .conteudo-section-3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 100px;
    }
    .video-section-3{
        height: 400px!important;
        width: 690px!important;
        margin-top: 10px;
        padding: 40px;
    }
}

@media screen and (max-width: 1350px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 665px;
        background-image: url('/img/banner-guarda.jpeg');
        position:relative;
        background-attachment:scroll;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: rgb(1, 3, 20);
    }
}

@media screen and (max-width: 1200px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 600px;
        background-image: url('/img/banner-guarda.jpeg');
        position:relative;
        background-attachment:scroll;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: rgb(1, 3, 20);
    }
}

@media screen and (max-width: 1200px){
    .conteudo-section-3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 100px;
    }
    .video-section-3{
        height: 340px!important;
        width: 670px!important;
        margin-top: 10px;
        padding: 30px;
    }
}

@media screen and (max-width: 1000px){
    .logo{
        width: 350px;
        margin-top: 40px;
    }

    .titulo{
        margin-top: 80px;
    }

    form{
        margin-top: 60px;
    }

    input{
        height: 55px;
        width: 300px;
        padding: 15px;
        margin: 0 10px;
        border-radius: 2px;
        border: none;
        font-size: 18px;
    }

    .container{
        display:flex;
        position:relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .box-1{
        display: block;
        position:relative;
        float: none;
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .box-2{
        display: block;
        position:relative;
        float: none;
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .bloco{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        float: left;
        padding: 20px;
    }

}

@media screen and (max-width: 870px){
    .logo{
        width: 300px;
        margin-top: 30px;
    }

    .titulo{
        margin-top: 70px;
    }

    form{
        margin-top: 50px;
        flex-direction: column;
    }

    input{
        height: 55px;
        width: 300px;
        padding: 15px;
        margin: 5px;
        border-radius: 2px;
        border: none;
        font-size: 18px;
    }

    .container{
        display:flex;
        position:relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .box-1{
        display: block;
        position:relative;
        float: none;
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .box-2{
        display: block;
        position:relative;
        float: none;
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .bloco{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        float: left;
        padding: 20px;
    }
}

@media screen and (max-width: 513px){
    .logo{
        width: 200px;
        margin-top: 20px;
    }

    .titulo{
        margin-top: 60px;
    }

    form{
        margin-top: 40px;
        flex-direction: column;
    }

    input{
        height: 55px;
        width: 300px;
        padding: 15px;
        margin: 5px;
        border-radius: 2px;
        border: none;
        font-size: 18px;
    }

    .container{
        display:flex;
        position:relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .box-1{
        display: block;
        position:relative;
        float: none;
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .box-2{
        display: block;
        position:relative;
        float: none;
        width: 80%;
        height: 100%;
        margin-left: 0;
    }
    
    .bloco{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        float: left;
        padding: 20px;
    }
}